extends layout
block variables
    - var usern = username
block content
    if username!=''
        h3= title
        br
        form(action='/delTeacher/'+val.id, method='post')
            p() #{val.id}. #{val.lastname} #{val.firstname} #{val.patronymic}
            br
            input(type='submit', value='Удалить')
        form(action='/listTeacher' method='get')
            input(type='submit', value='Отмена')