extends layout
block variables
    include variables.pug
block content
    if username!=''
        p
        div(class="list-group")
            h2= 'Составление расписания'
            br
        div(class="row")
            div(class="list-group")
                div(class="list-group-item1")
                    a(href="/listGroup" class="col-md-4")
                        i(class="fa fa-group")
                        font()=" "
                        font(face="Arial" size="4")="Группы"
                    br
                    br
                    p="Полный список всех преподавателей. Вы можете добавить нового преподавателя, изменить или удалить уже добавленного"
            div(class="list-group")
                div(class="list-group-item1")
                    a(href="/listTeacher" class="col-md-4")
                        i(class="fa fa-user")
                        font()=" "
                        font(face="Arial" size="4")="Преподаватели"
                    br
                    br
                    p="Полный список всех преподавателей. Вы можете добавить нового преподавателя, изменить или удалить уже добавленного"
            div(class="list-group")
                div(class="list-group-item1")
                    a(href="/listSubject" class="col-md-4")
                        i(class="fa fa-book")
                            font()=" "
                            font(face="Arial" size="4")="Предметы"
                    br
                    br
                    p="Полный список всех предметов. Вы можете добавить новый предмет, изменить или удалить уже добавленный"
            div(class="list-group")
                div(class="list-group-item1")
                    a(href="/listClass" class="col-md-4")
                        i(class="fa fa-columns")
                            font()=" "
                            font(face="Arial" size="4")="Аудитории"
                    br
                    br
                    p="Полный список всех аудиторий. Вы можете добавить новую аудиторию, изменить или удалить уже добавленную"
            div(class="list-group")
                div(class="list-group-item1")
                    a(href="/table" class="col-md-4")
                        i(class="fa fa-pencil")
                            font()=" "
                            font(face="Arial" size="4")="Редактирование раписания"
                    br
                    br
                    p="Дни недели. Вы можете добавлять, изменять или удалять дни недели"

        br
        if (type_user == 'Администратор')
        div(class="list-group")
            h2= 'Пользователи'
            br
            div(class="row")
                div(class="list-group")
                    div(class="list-group-item1")
                        a(href="/listUser" class="col-md-4")
                            i(class="fa fa-vcard-o")
                            font()=" "
                            font(face="Arial" size="4")="Пользователи"
                        br
                        br
                        p="Дни недели. Вы можете добавлять, изменять или удалять дни недели"
                div(class="list-group")
                    div(class="list-group-item1")
                        a(href="/register" class="col-md-4")
                            i(class="fa fa-user-plus")
                            font()=" "
                            font(face="Arial" size="4")="Регистрация нового пользователя"
                        br
                        br
                        p="Дни недели. Вы можете добавлять, изменять или удалять дни недели"
                div(class="list-group")
                    div(class="list-group-item1")
                        a(href="/contactForm" class="col-md-4")
                            i(class="fa fa-envelope")
                            font()=" "
                            font(face="Arial" size="4")="Отправить письмо администратору"
                        br
                        br
                        p="Дни недели. Вы можете добавлять, изменять или удалять дни недели"

