extends layout
block variables
    include variables.pug
block content
    if username != ''
        p
        div(class="list-group")
            h2= 'Составление расписания'
            br
        div(class="row")
            div(class="list-group")
                div(class="list-group-item1")
                    a(href="/listGroup" class="col-md-4")
                        i(class="fa fa-group")
                        font()=" "
                        font(face="Arial" size="4")="Группы"
                    br
                    br
                    p="Полный список всех групп. Вы можете добавить новую группу, изменить или удалить уже добавленную"
            div(class="list-group")
                div(class="list-group-item1")
                    a(href="/listTeacher" class="col-md-4")
                        i(class="fa fa-user")
                        font()=" "
                        font(face="Arial" size="4")="Преподаватели"
                    br
                    br
                    p="Полный список всех преподавателей. Вы можете добавить нового преподавателя, изменить или удалить уже добавленного"
            div(class="list-group")
                div(class="list-group-item1")
                    a(href="/listSubject" class="col-md-4")
                        i(class="fa fa-book")
                            font()=" "
                            font(face="Arial" size="4")="Предметы"
                    br
                    br
                    p="Полный список всех предметов. Вы можете добавить новый предмет, изменить или удалить уже добавленный"
            div(class="list-group")
                div(class="list-group-item1")
                    a(href="/listClass" class="col-md-4")
                        i(class="fa fa-columns")
                            font()=" "
                            font(face="Arial" size="4")="Аудитории"
                    br
                    br
                    p="Полный список всех аудиторий. Вы можете добавить новую аудиторию, изменить или удалить уже добавленную"
            div(class="list-group")
                div(class="list-group-item1")
                    a(href="/table" class="col-md-6")
                        i(class="fa fa-pencil")
                            font()=" "
                            font(face="Arial" size="4")="Редактирование раписания занятий"
                    br
                    br
                    p="Добавление и изменение расписания: временные/постоянные изменения, добавление дисциплин по выбору, факультативов"

            div(class="list-group")
                div(class="list-group-item1")
                    a(href="/sessionTableEdit" class="col-md-4")
                        i(class="fa fa-pencil")
                            font()=" "
                            font(face="Arial" size="4")="Редактирование раписания"
                            br
                            font(face="Arial" size="4")="сессии"
                    br
                    br
                    p="Добавление и изменение информации о зачетах, экзаменах, консультациях "

            div(class="list-group")
                div(class="list-group-item1")
                    a(href="/conflict" class="col-md-4")
                        i(class="fa fa-stop-circle-o")
                            font()=" "
                            font(face="Arial" size="4")="Конфликты в расписании"

                    br
                    br
                    p=" "

            if (type_user == 'Администратор')
                div(class="list-group")
                    div(class="list-group-item1")
                        a(href="/downloadExcel" class="col-md-4")
                            i(class="fa fa-file-excel-o")
                                font()=" "
                                font(face="Arial" size="4")="Загрузить расписание из файла excel"
                        br
                        br
                        p="Вы можете загрузить расписание из файла excel"


        br
        if (type_user == 'Администратор')
        div(class="list-group")
            h2= 'Пользователи'
            br
            div(class="row")
                div(class="list-group")
                    div(class="list-group-item1")
                        a(href="/listUser" class="col-md-4")
                            i(class="fa fa-vcard-o")
                            font()=" "
                            font(face="Arial" size="4")="Список пользователей системы"
                        br
                        br
                        p="Полная информация о зарегистрированных пользователях. "
                div(class="list-group")
                    div(class="list-group-item1")
                        a(href="/register" class="col-md-4")
                            i(class="fa fa-user-plus")
                            font()=" "
                            font(face="Arial" size="4")="Регистрация нового пользователя"
                        br
                        br
                        p="Возможность добавлять новых пользователей в систему"
                div(class="list-group")
                    div(class="list-group-item1")
                        a(href="/contactForm" class="col-md-4")
                            i(class="fa fa-envelope")
                            font()=" "
                            font(face="Arial" size="4")="Отправить письмо администратору"
                        br
                        br
                        p="Если появились вопросы, свяжитесь с администратором "


        br
        div(class="list-group")
            h2= 'Просмотр расписания'
            br
            div(class="row")
                div(class="list-group")
                    div(class="list-group-item")
                        a(href="/schedule" class="col-md-4")
                            i(class="fa fa-table")
                            font()=" "
                            font(face="Arial" size="4")="Расписание занятий"
                div(class="list-group")
                    div(class="list-group-item")
                        a(href="/session" class="col-md-4")
                            i(class="fa fa-list-alt")
                            font()=" "
                            font(face="Arial" size="4")="Расписание сессии"



