block variables

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.css')
    //link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap1.css')

    link(rel="stylesheet",href="/stylesheets/font-awesome-4.7.0/css/font-awesome.min.css")
    //link(rel="stylesheet",href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css")
    link(rel="stylesheet",href="/stylesheets/select2.min.css")
    link(rel="stylesheet",href="/stylesheets/select2.css")
    script(src="/javascripts/popper.min.js")
    script(src='/javascripts/jquery-3.3.1.min.js')
    //script(src='/javascripts/bootstrap/bootstrap.js')
    script(src='/javascripts/bootstrap/bootstrap.min.js')
    script(src='/javascripts/bootstrap/bootstrap-collapse.js')
    script(src="/javascripts/script.js")

    script(src="/javascripts/select2.min.js")
    //script(src="/javascripts/select2.js")
    //script.
        //$(document).ready(function () {
            // Inserting HTML code inside wrapper element
            $(".wrapper").html(codeBlock);
        });

  body
    nav(class="navbar fixed-top text-light navbar-dark bg-primary")
      a(class="navbar-brand text-light" href="/")="Расписание ИМЭИ ИГУ"
      if (!usern)
        a(class="navbar-brand text-light" href="/searchPair")="Поиск"
        a(class="navbar-brand text-light" href="/login")="Войти"
      else
        div(class="collapse navbar-collapse" id="navbarSupportedContent")
          ul(class="navbar-nav")
            li(class="nav-item dropdown")
        div #{lastn} #{firstn} #{patronymic} (#{type_user})
        a(class="navbar-brand text-light"  href='/personalAccount') Личный кабинет
        a(class="navbar-brand text-light"  href="/logout")="Выйти"


  br
  block content