extends layout

block variables
  include variables.pug
block content

  if type_user == 'Староста'
    div(class="container")
      div(class="row")
        div(class="text-natification")
          p(class="text-center") Список пользователей доступен только администратору


  if type_user == 'Администратор'
    h3=title
    br
    div(class="tabbable")
      ul(class="nav")
        li(class="active")
          a(href="#tab1" class="btn btn-primary2" data-toggle="tab") Администратор
          font()=" "
          a(href="#tab2" class="btn btn-primary2" data-toggle="tab") Староста
      div(class="tab-content")
        div(class="tab-pane active" id="tab1")
          br
          table(class="table table-bordered table-hover")
            thead(class="thead-light")
              tr
                th Фамилия
                th Имя
                th Отчество
                th E-mail
                th Должность
            div(class="dropdown show dropright")
              tbody
                each val in list
                  if(val.type_user=='Администратор')
                    tr
                      td #{val.lastname}
                      td #{val.firstname}
                      td #{val.patronymic}
                      td #{val.email}
                      td #{val.type_user}

        div(class="tab-pane" id="tab2")
          form(action='/groupUpdateAll', method='post')
            input(type='submit', value='Перевести всех на курс выше')
          br
          table(class="table table-bordered table-hover")
            thead(class="thead-light")
              tr
                th Фамилия
                th Имя
                th Отчество
                th E-mail
                th Должность
                th Группа
            div(class="dropdown show dropright")
              tbody
                each val in list
                  if(val.type_user=='Староста')
                    tr
                      td #{val.lastname}
                      td #{val.firstname}
                      td #{val.patronymic}
                      td #{val.email}
                      td #{val.type_user}
                      td #{val.studyGroups}
                        a(class="dropdown-toggle group1_li"  role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                          div(class="dropdown-menu" aria-labelledby="dropdownMenuLink")
                            a(class="dropdown-item" href='groupUpdate/' + val.id )="Изменить группу"
