extends layout
block variables
  include variables
block content
  br
  h2=title
  br
  div(class="wrapper")
    form(class="subject-card" action="")
      div(class="form-row")
        div(class="col")
          div(class="input-group input-group-sm")
            select(class="form-control form-control-sm col-sm-12" name="searchSubject" id="searchSubject" data-show-subtext="true" data-live-search="true")
              option(value="")
              each subject in subjects
                option(class=subject.id) #{subject.name}

        div(class="col")
          div(class="input-group input-group-sm")
            select(class="form-control form-control-sm" name="searchTeacher" id="searchTeacher" data-show-subtext="true" data-live-search="true")
              option(value="")
              each teacher in teachers
                option(class=teacher.id) #{teacher.lastname} #{teacher.firstname} #{teacher.patronymic}

        div(class="col")
          div(class="input-group input-group-sm")
            select(class="form-control form-control-sm" name="searchClass" id="searchClass" data-show-subtext="true" data-live-search="true")
              option(value="")
              each classroom in classrooms
                option(class=classroom.id) #{classroom.name}


        div(class="col-sm-2" id="")
          input(type="text" class="form-control required" id="searchPairDate" name="searchPairDate" placeholder="Дата")
        div(class="col")
          input(class="btn" type='submit' id="searchPair" value='Найти')

    br
    div(class="tabbable")
      ul(class="nav")
        li(class="active")
          a(href="#tab1" class="btn btn-primary2 active" data-toggle="tab" ) Верхняя неделя
          font()=" "
          a(href="#tab2" class="btn btn-primary2" data-toggle="tab") Нижняя неделя

    br
    div(class="tab-content")
      div(class="tab-pane active" id="tab1")
        table(class="table table-bordered table-hover" id="search")
          thead(class="thead-light")
            tr
              th День недели
              th Время
              th Группа
              th Предмет
              th Преподаватель
              th Аудитория
          div(class="dropdown show dropright")
            tbody
      div(class="tab-pane" id="tab2")
        table(class="table table-bordered table-hover" id="search1")
          thead(class="thead-light")
            tr
              th День недели
              th Время
              th Группа
              th Предмет
              th Преподаватель
              th Аудитория
          div(class="dropdown show dropright")
            tbody





