extends layout
mixin dropdown(subject)
    div(class="dropdown show dropright")
        a(class="dropdown-toggle"  role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") #{subject}
        div(class="dropdown-menu" aria-labelledby="dropdownMenuLink")
            a(class="dropdown-item")="Изменить"
            div(class="dropdown-divider")
            a(class="dropdown-item")="Удалить"
block variables
    include variables
block content
    h2="Расписание сессии"
    br
    form(name="sessionForm" action='')
        div(class="form-row")
            select(class="form-control form-control-sm newUrl1" id="selectGroupSession1" name="selectGroupSession" data-show-subtext="true" data-live-search="true")
                option(value="")
                each studyGroup in studyGroups
                    option(value=studyGroup.id) #{studyGroup.name}
    br
    table(class="scheduleSession table table-bordered table-responsive-md" id="sessionTable")
        thead
            th №
            th Название предмета
            th Преподаватель
            th Время
            th Дата
            th Аудитория
        th(colspan="6") Экзамены
        tbody

    table(class="scheduleSession table table-bordered table-responsive-md" id="sessionTableTest")
        thead
        th(colspan="6") Зачёты
        tbody

    table(class="scheduleSession table table-bordered table-responsive-md" id="sessionTableTestMark")
        thead
        th(colspan="6") Зачёты с оценкой
        tbody

    table(class="scheduleSession table table-bordered table-responsive-md" id="sessionTableConsult")
        thead
        th(colspan="6") Консультации
        tbody


