extends layout
mixin dropdown(subject)
    div(class="dropdown show dropright")
        a(class="dropdown-toggle"  role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") #{subject}
        div(class="dropdown-menu" aria-labelledby="dropdownMenuLink")
            a(class="dropdown-item")="Изменить"
            div(class="dropdown-divider")
            a(class="dropdown-item")="Удалить"
block variables
    include variables.pug
    - var days=["пн","вт","ср","чт","пт","сб","вc"]
    //- var counter=[1,2,3,4,5,6,7]
    -var counter=["8.30","10.10","11.50","13.50","15.20","17.00","18.30"]
    -var group1=""
    -var i=0
block content
    br
    h2=title
    div(class="wrapper")
    div(class="edit-div row")
        div(class="leftSide col-9")
            div(class="input-group input-group-sm")
                select(class="custom-select" id="inputGroupSelect04" onChange="userGroup(this)")
                    option(value="")
                    each studyGroup in studyGroups
                        if(studyGroup.name == userGroup)
                            option(selected value=studyGroup.id) #{studyGroup.name}
                        else
                            option(value=studyGroup.id) #{studyGroup.name}
                        //option(value=studyGroup.id) #{studyGroup.name}
                div(class='div-none')
                    div(id='userGroup') #{userGroup}
                    div(id='type_user') #{type_u}
            br
            div(class="form-group row")
                label(class="col-sm-2 col-form-label") Выберите дату
                div(class="col-sm-2" id="")
                    input(type="text" class="endDate form-control required" id="selectDate" name="selectDate" placeholder="Дата")
            div(id='Label1' class='div-none')
                br
                h2
                    p(class="text-center") Вы не можете редактировать расписание другой группы
            div(id='editSchedule' class="scheduleDiv")
                h2="Верхняя неделя"
                table(class="schedule table table-bordered table-responsive-md" id="scheduleTable")
                    thead(class="thead-light")
                        tr
                            th
                            each val in weekdays
                                th(class=val.day)=val.day
                    div(class="dropdown show dropright")
                        tbody

                            each val in times
                                tr
                                    th(class=val.time) #{val.time}
                                    each val in weekdays
                                        td(class='td1')
                                            div(class="subject-card")
                                                div(class="subject")
                                                    div(class="subject-card-name")
                                                        div(id="nameSubject" class="nameSubject")=""
                                                    div(class="subject-card-teacher")
                                                        p(class="teacher")=""
                                                    div(class="subject-card-classroom")
                                                        p(class="classroom")=""
                                                br
                                                div(class="subject1")
                                                    div(class="subject-card-name")
                                                        p(id="nameSubject1" class="nameSubject1")=""
                                                    div(class="subject-card-teacher")
                                                        p(class="teacher1")=""
                                                    div(class="subject-card-classroom")
                                                        p(class="classroom1")=""
                                                br
                                                div(class="subject2")
                                                    div(class="subject-card-name")
                                                        p(class="nameSubject2")=""
                                                    div(class="subject-card-teacher")
                                                        p(class="teacher2")=""
                                                    div(class="subject-card-classroom")
                                                        p(class="classroom2")=""
                                                br
                                                div(class="subject3")
                                                    div(class="subject-card-name")
                                                        p(class="nameSubjectTemporary")=""
                                                    div(class="subject-card-teacher")
                                                        p(class="teacherTemporary")=""
                                                    div(class="subject-card-classroom")
                                                        p(class="classroomTemporary")=""
                                                    div(class="date-card")
                                                        p(class="dateTemporary")=""
                h2="Нижняя неделя"
                table(class="schedule table table-bordered table-responsive-md" id="scheduleTable2")
                    thead(class="thead-light")
                        tr
                            th
                            each val in weekdays
                                th(class=val.day)=val.day
                    div(class="dropdown show dropright")
                        tbody
                            each val in times
                                tr
                                    th(class=val.time) #{val.time}
                                    each val in weekdays
                                        td(class='td2')
                                            div(class="subject-card")
                                                div(class="subject")
                                                    div(class="subject-card-name")
                                                        div(id="nameSubject" class="nameSubject")=""
                                                    div(class="subject-card-teacher")
                                                        p(class="teacher")=""
                                                    div(class="subject-card-classroom")
                                                        p(class="classroom")=""
                                                br
                                                div(class="subject1")
                                                    div(class="subject-card-name")
                                                        p(id="nameSubject1" class="nameSubject1")=""
                                                    div(class="subject-card-teacher")
                                                        p(class="teacher1")=""
                                                    div(class="subject-card-classroom")
                                                        p(class="classroom1")=""
                                                br
                                                div(class="subject2")
                                                    div(class="subject-card-name")
                                                        p(class="nameSubject2")=""
                                                    div(class="subject-card-teacher")
                                                        p(class="teacher2")=""
                                                    div(class="subject-card-classroom")
                                                        p(class="classroom2")=""
                                                br
                                                div(class="subject3")
                                                    div(class="subject-card-name")
                                                        p(class="nameSubjectTemporary")=""
                                                    div(class="subject-card-teacher")
                                                        p(class="teacherTemporary")=""
                                                    div(class="subject-card-classroom")
                                                        p(class="classroomTemporary")=""
                                                    div(class="date-card")
                                                        p(class="dateTemporary")=""

        div(class="rightSide col-3 card bg-light" id="aside1")
            ul(class="nav nav-tabs" id="myTab" role="tablist")
                li(class="nav-item")
                    a(class="nav-link active" data-toggle="tab" href="#add" role="tab" aria-controls="add") Добавление
                li(class="nav-item")
                    a(class="nav-link" data-toggle="tab" href="#delete" role="tab" aria-controls="delete") Удаление
                li(class="nav-item")
                    a(class="nav-link" data-toggle="tab" href="#add2" role="tab" aria-controls="add") Добавление второй пары
                li(class="nav-item")
                    a(class="nav-link" data-toggle="tab" href="#temporaryChange" role="tab" aria-controls="add") Временные изменения
            br
            div(class="tab-content")
                div(class="tab-pane active" id="add" role="tabpanel")
                    form(class="subject-card form-signin" action="" id="form1")
                        h5="Редактирование выбранной ячейки"
                        hr
                        div(class="form-group row")
                            label(class="col-sm-4 col-form-label") Группа
                            div(class="col-sm-8")
                                input(class="clickedGroupName form-control required" type="text" readonly="" value="" name="clickedGroupName" id="clickedGroupName" )
                        div(class=" form-group row")
                            label(class="col-sm-4 col-form-label " style="margin-top:-15px") День недели
                            div(class="col-sm-8")
                                input(class="clickedDateDay form-control required"  type="text"  readonly="" name="clickedDateDay" id="clickedDateDay")
                        div(class=" form-group row")
                            label(class="col-sm-4 col-form-label") Время
                            div(class="col-sm-8")
                                input(class="clickedDateTime form-control required"  type="text"  readonly="" name="clickedDateTime" id="clickedDateTime")
                        div(class="form-check")
                            input(name="r1" type="radio" id="radio1")
                            label(for="radio1") Верхняя неделя
                        div(class="form-check")
                            input(name="r1" type="radio" id="radio2")
                            label(for="radio2") Нижняя неделя
                        div(class="form-check")
                            input(name="r1" type="radio" id="radio3")
                            label(for="radio3") Все недели
                        div(class="subject-card-name")
                            label(class="col-form-label") Предмет
                            div(class="input-group input-group-sm s1")
                                select(class="form-control form-control-sm col-sm-12 required" name="subjectSelect" id="inputGroupSelect01" data-show-subtext="true" data-live-search="true")
                                    option(value="")
                                    each subject in subjects
                                        option(class=subject.id) #{subject.name}
                        div(class="subjectType-card-name")
                            label(class="col-form-label") Тип пары
                            div(class="input-group input-group-sm s1")
                                select(class="form-control form-control-sm col-sm-12 required" name="typeSubjectSelect" id="inputGroupSelect011" data-show-subtext="true" data-live-search="true")
                                    option(value="")
                                    each val in typeSubject
                                        option(class=val.id) #{val.name}
                        div(class="subject-card-teacher")
                            label(class="col-form-label") Преподаватель
                            div(class="input-group input-group-sm")
                                select(class="form-control form-control-sm required" id="inputGroupSelect02" name="teacherSelect" data-show-subtext="true" data-live-search="true")
                                    option(value="")
                                    each teacher in teachers
                                        option(class=teacher.id) #{teacher.lastname} #{teacher.firstname} #{teacher.patronymic}
                        div(class="subject-card-classroom")
                            label(class="col-form-label") Аудитория
                            div(class="input-group input-group-sm")
                                select(class="form-control form-control-sm required" id="inputGroupSelect03" name="classroomSelect" data-show-subtext="true" data-live-search="true")
                                    option(value="")
                                    each classroom in classrooms
                                        option(class=classroom.id) #{classroom.name}
                        br
                        div(class="btn-toolbar")
                            div(class="btn-group")
                                input(class="btn btn-primary" type="submit" value="Сохранить" id="saveChangesScheduleBtn" )



                div(class="tab-pane" id="delete" role="tabpanel")
                    form(class="subject-card" action="" id="form2")
                        h5="Редактирование выбранной ячейки"
                        hr
                        div(class="form-group row")
                            label(class="col-sm-4 col-form-label") Неделя
                            div(class="col-sm-8")
                                input(class="clickedWeek1 form-control required" type="text" readonly="" name="clickedWeek1" id="clickedWeek1")

                        div(class="form-group row")
                            label(class="col-sm-4 col-form-label") Группа
                            div(class="col-sm-8")
                                input(class="clickedGroupName1 form-control required" type="text" readonly="" name="clickedGroupName1" id="clickedGroupName1")
                        div(class=" form-group row")
                            label(class="col-sm-4 col-form-label " style="margin-top:-15px") День недели
                            div(class="col-sm-8")
                                input(class="clickedDateDay1 form-control required"  type="text"  readonly="" name="clickedDateDay1" id="clickedDateDay1")
                        div(class=" form-group row")
                            label(class="col-sm-4 col-form-label") Время
                            div(class="col-sm-8")
                                input(class="clickedDateTime1 form-control required"  type="text"  readonly="" name="clickedDateTime1" id="clickedDateTime1")
                        div(class="form-check")
                            input(name="r1" type="radio" id="radio11" checked)
                            label(for="radio11") Первая пара
                        div(class="form-check")
                            input(name="r1" type="radio" id="radio12")
                            label(for="radio12") Вторая пара
                        div(class="form-check")
                            input(name="r1" type="radio" id="radio13")
                            label(for="radio13") Временная пара

                        br
                        div(class="btn-toolbar")
                            div(class="btn-group")
                                input(class="btn btn-danger" id="deleteScheduleBtn" type="button" value="Удалить")

                div(class="tab-pane" id="add2" role="tabpanel")
                    form(class="subject-card form-signin" action="" id="form3")
                        h5="Редактирование выбранной ячейки"
                        hr
                        div(class="form-group row")
                            label(class="col-sm-4 col-form-label") Группа
                            div(class="col-sm-8")
                                input(class="clickedGroupName2 form-control required" type="text" readonly="" value="" name="clickedGroupName2" id="clickedGroupName2" )
                        div(class=" form-group row")
                            label(class="col-sm-4 col-form-label " style="margin-top:-15px") День недели
                            div(class="col-sm-8")
                                input(class="clickedDateDay2 form-control required"  type="text"  readonly="" name="clickedDateDay2" id="clickedDateDay2")
                        div(class=" form-group row")
                            label(class="col-sm-4 col-form-label") Время
                            div(class="col-sm-8")
                                input(class="clickedDateTime2 form-control required"  type="text"  readonly="" name="clickedDateTime2" id="clickedDateTime2")
                        div(class="form-check")
                            input(name="r1" type="radio" id="radio21")
                            label(for="radio21") Верхняя неделя
                        div(class="form-check")
                            input(name="r1" type="radio" id="radio22")
                            label(for="radio22") Нижняя неделя
                        div(class="form-check")
                            input(name="r1" type="radio" id="radio23")
                            label(for="radio23") Все недели
                        div(class="subject-card-name")
                            label(class="col-form-label") Предмет
                            div(class="input-group input-group-sm s1")
                                select(class="form-control form-control-sm col-sm-12 required" name="subjectSelect" id="inputGroupSelect21" data-show-subtext="true" data-live-search="true")
                                    option(value="")
                                    each subject in subjects
                                        option(class=subject.id) #{subject.name}
                        div(class="subjectType-card-name")
                            label(class="col-form-label") Тип пары
                            div(class="input-group input-group-sm s1")
                                select(class="form-control form-control-sm col-sm-12 required" name="typeSubjectSelect" id="inputGroupSelect211" data-show-subtext="true" data-live-search="true")
                                    option(value="")
                                    each val in typeSubject
                                        option(class=val.id) #{val.name}
                        div(class="subject-card-teacher")
                            label(class="col-form-label") Преподаватель
                            div(class="input-group input-group-sm")
                                select(class="form-control form-control-sm required" id="inputGroupSelect22" name="teacherSelect" data-show-subtext="true" data-live-search="true")
                                    option(value="")
                                    each teacher in teachers
                                        option(class=teacher.id) #{teacher.lastname} #{teacher.firstname} #{teacher.patronymic}
                        div(class="subject-card-classroom")
                            label(class="col-form-label") Аудитория
                            div(class="input-group input-group-sm")
                                select(class="form-control form-control-sm required" id="inputGroupSelect23" name="classroomSelect" data-show-subtext="true" data-live-search="true")
                                    option(value="")
                                    each classroom in classrooms
                                        option(class=classroom.id) #{classroom.name}
                        br
                        div(class="btn-toolbar")
                            div(class="btn-group")
                                input(class="btn btn-primary" type="submit" value="Сохранить" id="saveChangesScheduleBtn1" )

                div(class="tab-pane" id="temporaryChange" role="tabpanel")
                    form(class="subject-card form-signin" action="" id="form4")
                        h5="Редактирование выбранной ячейки"
                        hr
                        div(class="form-group row")
                            label(class="col-sm-4 col-form-label") Группа
                            div(class="col-sm-8")
                                input(class="clickedGroupName3 form-control required" type="text" readonly="" value="" name="clickedGroupName3" id="clickedGroupName3" )
                        div(class=" form-group row")
                            label(class="col-sm-4 col-form-label " style="margin-top:-15px") День недели
                            div(class="col-sm-8")
                                input(class="clickedDateDay3 form-control required"  type="text"  readonly="" name="clickedDateDay3" id="clickedDateDay3")
                        div(class=" form-group row")
                            label(class="col-sm-4 col-form-label") Время
                            div(class="col-sm-8")
                                input(class="clickedDateTime3 form-control required"  type="text"  readonly="" name="clickedDateTime3" id="clickedDateTime3")
                        div(class="form-check")
                            input(name="r1" type="radio" id="radio31")
                            label(for="radio31") Верхняя неделя
                        div(class="form-check")
                            input(name="r1" type="radio" id="radio32")
                            label(for="radio32") Нижняя неделя
                        div(class="form-check")
                            input(name="r1" type="radio" id="radio33")
                            label(for="radio33") Все недели
                        div(class="subject-card-name")
                            label(class="col-form-label") Предмет
                            div(class="input-group input-group-sm s1")
                                select(class="form-control form-control-sm col-sm-12 required" name="subjectSelect" id="inputGroupSelect31" data-show-subtext="true" data-live-search="true")
                                    option(value="")
                                    each subject in subjects
                                        option(class=subject.id) #{subject.name}
                        div(class="subjectType-card-name")
                            label(class="col-form-label") Тип пары
                            div(class="input-group input-group-sm s1")
                                select(class="form-control form-control-sm col-sm-12 required" name="typeSubjectSelect" id="inputGroupSelect311" data-show-subtext="true" data-live-search="true")
                                    option(value="")
                                    each val in typeSubject
                                        option(class=val.id) #{val.name}
                        div(class="subject-card-teacher")
                            label(class="col-form-label") Преподаватель
                            div(class="input-group input-group-sm")
                                select(class="form-control form-control-sm required" id="inputGroupSelect32" name="teacherSelect" data-show-subtext="true" data-live-search="true")
                                    option(value="")
                                    each teacher in teachers
                                        option(class=teacher.id) #{teacher.lastname} #{teacher.firstname} #{teacher.patronymic}
                        div(class="subject-card-classroom")
                            label(class="col-form-label") Аудитория
                            div(class="input-group input-group-sm")
                                select(class="form-control form-control-sm required" id="inputGroupSelect33" name="classroomSelect" data-show-subtext="true" data-live-search="true")
                                    option(value="")
                                    each classroom in classrooms
                                        option(class=classroom.id) #{classroom.name}
                        br
                        div(class="form-group row")
                            label(class="col-sm-4 col-form-label") Дата начала
                            div(class="col-sm-8 input-group" id="datetimepicker")
                                input(type="text" class="beginDate form-control required" id="beginDate" name="beginDate" placeholder="Дата" )
                        div(class="form-group row")
                            label(class="col-sm-4 col-form-label" style="margin-top:-15px") Дата окончания
                            div(class="col-sm-8" id="datetimepicker1")
                                input(type="text" class="endDate form-control required" id="endDate" name="endDate" placeholder="Дата")

                        br
                        div(class="btn-toolbar")
                            div(class="btn-group")
                                input(class="btn btn-primary" type="submit" value="Сохранить" id="saveChangesScheduleBtn2" )


