extends ../layout
block variables
  include ../variables
block content
  br
  h3= title
  br
  div #{lastname} #{firstname} #{patronymic} (#{type_user})
  br
  div(class="row")
    div(class="list-group")
      div(class="list-group-item")
        a(href='/changeFirstname', class='text-center new-account') Изменить имя
      br
      div(class="list-group-item")
        a(href='/changePassword', class='text-center new-account') Изменить пароль
    div(class="list-group")
      div(class="list-group-item")
        a(href='/changeLastname', class='text-center new-account') Изменить фамилию
      br
      div(class="list-group-item")
        a(href='/changeEmail', class='text-center new-account') Изменить email
    div(class="list-group")
      div(class="list-group-item")
        a(href='/changePatronymic', class='text-center new-account') Изменить отчество
