extends ../layout
block variables
  include ../variables
block content
  if username!=''
    h3= title
    br
    form(action='/teacher/'+val.id, method='post')
      div(class="form-row")
        div(class="col")
          input(name='lastname', class="form-control" type="text" value=val.lastname)
        div(class="col")
          input(name='firstname', class="form-control" type="text" value=val.firstname)
        div(class="col")
          input(name='patronymic', class="form-control" type="text" value=val.patronymic)
        div(class="col")
          input(name='rank', class="form-control" type="text" value=val.rank)
        div(class="col")
          input(type='submit',class="btn", value='Изменить')
          font()=" "
          input(type='submit', class="btn", value='Отменить')
