extends ../layout
block variables
  include ../variables
block content
  if username!=''
    h3= "Изменение"
    br
    form(action='/teacher/'+val.id, method='post')
      div(class="form-row")
        div(class="col")
          input(name='lastname', class="form-control" type="text" value=val.lastname)
        div(class="col")
          input(name='firstname', class="form-control" type="text" value=val.firstname)
        div(class="col")
          input(name='patronymic', class="form-control" type="text" value=val.patronymic)
        div(class="col")
          div(class="input-group input-group-sm")
            select(class="custom-select" name='rank' placeholder='Звание')
              option(value="" selected) #{val.rank}
              option(value="")
              each rank in rankTeachers
                option #{rank.name}
        div(class="col")
          input(type='submit',class="btn", value='Изменить')
          font()=" "
          input(type='submit', class="btn", value='Отменить')
